asgiref==3.10.0 ; python_version >= "3.10" and python_version < "4.0"
attrs==25.4.0 ; python_version >= "3.10" and python_version < "4.0"
dependency-injector==4.48.2 ; python_version >= "3.10" and python_version < "4.0"
django-env-overrides==0.1.0 ; python_version >= "3.10" and python_version < "4.0"
django-environ==0.12.0 ; python_version >= "3.10" and python_version < "4"
django-extensions==4.1 ; python_version >= "3.10" and python_version < "4.0"
django==5.2.7 ; python_version >= "3.10" and python_version < "4.0"
djangorestframework==3.16.1 ; python_version >= "3.10" and python_version < "4.0"
drf-spectacular==0.28.0 ; python_version >= "3.10" and python_version < "4.0"
gunicorn==23.0.0 ; python_version >= "3.10" and python_version < "4.0"
inflection==0.5.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema-specifications==2025.9.1 ; python_version >= "3.10" and python_version < "4.0"
jsonschema==4.25.1 ; python_version >= "3.10" and python_version < "4.0"
packaging==25.0 ; python_version >= "3.10" and python_version < "4.0"
psycopg2-binary==2.9.11 ; python_version >= "3.10" and python_version < "4.0"
pyyaml==6.0.3 ; python_version >= "3.10" and python_version < "4.0"
referencing==0.37.0 ; python_version >= "3.10" and python_version < "4.0"
rpds-py==0.27.1 ; python_version >= "3.10" and python_version < "4.0"
sqlparse==0.5.3 ; python_version >= "3.10" and python_version < "4.0"
typing-extensions==4.15.0 ; python_version >= "3.10" and python_version < "3.13"
tzdata==2025.2 ; python_version >= "3.10" and python_version < "4.0" and sys_platform == "win32"
uritemplate==4.2.0 ; python_version >= "3.10" and python_version < "4.0"
